#intro .jumbotron{
    height: 70vh;
    margin: 130px;
}

#intro h1{

    font-size: 52px;
    font-weight: 800;
    line-height: 1.5;
}

#intro .container{
    margin: 0;
    position: relative;
    top: 50%;
    left: 10%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 1000px;
}

header li{
    margin-left: 12px;
    margin-right: 12px;
}

#intro img{
    border-radius: 50px;     /* 導圓角*/
    width: 1070px;
}

#second img{

    margin-right: 35px;
    border-radius: 50px;     /* 導圓角*/
    width: 270px;
}

#second h2{
    margin-bottom: 40px;
}

p {
    font-size: 18px;
    margin-left: 25px;
}

p.lead {
    font-size: 23px;
    color: rgb(194, 88, 27);
}

h1.lo {
    font-size: 25px;
    color: brown;
}

#third {
    padding-top: 60px;
}